<form action="/tweets/<%= @tweet.id %>" method="POST">
   <input type="hidden" name="_method" value="patch">
   <label for="content">Content: </label><br>
  <textarea name="content" id="content" rows="5" cols="33"><%= @tweet.content %></textarea>

  <input type="submit" value="Edit Tweet" id="submit">
</form>