<h2>Create a New Tweet:</h2>

<form action="/tweets" method="POST">
  <label for="content">Content: </label><br>
  <textarea name="content" id="content" rows="5" cols="33"></textarea>

  <input type="submit" value="Create Tweet" id="submit">
</form>
<br><br>
<p><a href="/tweets">Go to Tweets Home Page</a></p>