<h3>Fill the form to Sign Up</h3>
<br>
<form action="/signup" method="POST">
<label for="name">Name: </label>
<input type="text" name="username" placeholder="Name">

<label for="email">Email: </label>
<input type="text" name="email" placeholder="Email">

<label for="pass">Password: </label>
<input type="password" name="password" placeholder="Password" id="pass">

<input type="submit" value="Sign Up" id="submit">

</form>